node_modules
dist
*.log
# !*.sh.log

tmp/

_*/
.DS_Store
bak/
*.bak
__*.*
tests/unit/coverage/

!二、响应系统/reactive/_traps/
!node_modules/@/

!二、响应系统/5、非原始值的响应式方案/_1、理解Proxy与Reflect/
!二、响应系统/5、非原始值的响应式方案/_2、JS对象及Proxy原理/
!二、响应系统/5、非原始值的响应式方案/_4、合理的触发响应/
!二、响应系统/5、非原始值的响应式方案/3、代理Object/
!二、响应系统/5、非原始值的响应式方案/3、代理Object/reactive/
!二、响应系统/5、非原始值的响应式方案/3、代理Object/reactive/_test/
!二、响应系统/5、非原始值的响应式方案/7、代理数组/_test/

!_对象遍历测试/
!_test/

typescript-config-test/**/dist-off/
typescript-config-test/**/dist-on/

# 书籍作者附赠的源码
# https://github.com/HcySunYang/code-for-vue-3-book
# https://www.ituring.com.cn/book/2953#:~:text=%E9%9A%8F%E4%B9%A6-,%E4%B8%8B%E8%BD%BD,-%E6%96%87%E4%BB%B61
code-for-vue-3-book-master/

packages/3rd

二、响应系统/复习练习
练习
