node_modules
dist
*.log
# !*.sh.log

tmp/

_*/
.DS_Store
bak/
*.bak
__*.*
tests/unit/coverage/

!二、响应系统/reactive/_traps/
!node_modules/@/

!二、响应系统/5、非原始值的响应式方案/_1、理解Proxy与Reflect/
!二、响应系统/5、非原始值的响应式方案/_2、JS对象及Proxy原理/
!二、响应系统/5、非原始值的响应式方案/_4、合理的触发响应/
!二、响应系统/5、非原始值的响应式方案/3、代理Object/
!二、响应系统/5、非原始值的响应式方案/3、代理Object/reactive/
!二、响应系统/5、非原始值的响应式方案/3、代理Object/reactive/_test/
!二、响应系统/5、非原始值的响应式方案/7、代理数组/_test/

!_对象遍历测试/
!_test/
